@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  svg {
    @apply w-6 h-6;
  }

  button {
    @apply text-left;
  }

  .glass-panel {
    @apply border border-gray-300 bg-gray-200 rounded-lg p-3;
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Variable.ttf");
  font-weight: 100 900;
}

html {
  font-family: "Satoshi", "Trebuchet MS", Helvetica, sans-serif;
}

code {
  font-family: "JetBrains Mono";
}

html,
body,
#app {
  height: 100%;
}

html {
  --sms-border: 2px theme("colors.neutral.900") solid;
  --sms-focus-border: 2px theme("colors.neutral.900") solid;
  --sms-border-radius: theme("borderRadius.lg");

  --sms-padding: theme("padding.1");
  --sms-font-size: theme("fontSize.sm");

  --sms-options-border: theme("colors.neutral.900") solid;
  --sms-options-border-width: 2px;
}

.multiselect:has(*:focus) {
  outline: solid 2px black;
  outline-offset: 2px;
}

.multiselect button,
.multiselect button svg {
  @apply size-3;
}

.multiselect button.remove-all,
.multiselect button.remove-all svg {
  @apply size-4;
}
