@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    svg {
        @apply w-6 h-6;
    }

    button {
        @apply flex gap-2 items-center px-3 py-2 rounded-lg;
    }

    .panel {
        @apply shadow-xl p-4 rounded-xl;
    }
}

@font-face {
  font-family: "Satoshi";
  src: url("http://localhost:5173/fonts/Satoshi-Variable.ttf");
  font-weight: 100 900;
}

html {
    font-family: "Satoshi", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
}

